button {
    all: unset; /* Quita casi todos los estilos por defecto */
    /* Opcionalmente puedes añadir estas líneas si quieres asegurarte */
    cursor: pointer; /* Para que siga mostrando el cursor de puntero */
    display: inline-block; /* Para que se comporte como botón normal */
  }

.register_main{
width: 100%;
height: 100vh;
display: flex;
flex-direction: row;

}

.register_izquierdo{
width: 100%;
height: 100%;
margin-left: 50px;

margin-right: 50px;
padding-top: 50px;
display: flex;
flex-direction: column;
gap: 18px;
}
.register_derecho{
width: 50%;
height: 100%;
display: none;
}


/*Items dentro del register */
.register_cat_logo{
    height: 52px;
    width: 100%;
}
.register_cat_logo > img{
    width: 80px;
}
.register_div_one{
    height: 25px;
    width: 100%;
}
.register_div_one > h1{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}
.register_div_two{
    padding-top: 5px;
    height: 118px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    color: #696765;
}
.register_div_three{
    height: 195px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    color: #696765;
    gap: 15px;
}
.register_div_four{
    height: 74px;
    width: 100%;
    font-size: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

}
.register_div_four >:nth-child(1){
width: 265px;
text-align: center;
color: #696765;
font-family: 'Inter', sans-serif;
}
.register_div_four > :nth-child(2){
    color: #000000;
    font-family: 'Inter', sans-serif;   
}
.ordivisor {
        margin-top: 7px;
    align-items: center;
    width: 100%;
    color: #999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .ordivider p {

    height: 10px;
    margin: 0 12px;
    font-size: 18px;
    text-transform: uppercase; /* opcional */

  }
/*Items dentro del register */
.register_google{
width: 100%;
height: 35px;
border-style: solid;
border-radius: 6px;
border-width: 1px;
display: flex;
align-items: center;
justify-content: center;
display: flex;
    border-color: #6967657b;
gap: 5px;
}

#img_face{
    width: 15px;
}


.mini-span {
  display: block;
  width: 45%;
  height: 1px;
  background-color: #949494;
  border-radius: 2px;
}

.register_facebook{
width: 100%;
height: 35px;
border-style: solid;
border-radius: 6px;
border-width: 1px;
display: flex;
align-items: center;
justify-content: center;
display: flex;
    border-color: #6967657b;
gap: 5px;
}
.register_email{
    width: 100%;
    height: 35px;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    border-color: #6967657b;
    padding-left: 14px;
}
.register_pass{
    width: 100%;
    height: 35px;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    border-color: #6967657b;
    padding-left: 14px;
}
.register_pass2{
    width: 100%;
    height: 35px;
    border-style: solid;
    border-radius: 6px;
    border-width: 0.5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    border-color: #6967657b;
    padding-left: 14px;
}

#register{
    width: 100%;
    height: 35px;
    background-color: black;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
  border: none;
  cursor: pointer;

}

@media (min-width: 1024px) and (max-width: 1400px) {

  .register_main {
    width: 100%;
    height: 100vh;
    display: flex;
    background: #fff;
    padding: 150px;
    align-items: center;
  }

  .register_izquierdo {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .register_derecho {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
        height: 100vh;
    flex-direction: column;
        font-family: 'Inter', sans-serif;
        font-size: 21px;
        gap: 5px;
  }


  .register_derecho img {
    width: 420px;
    max-width: 80%;
  }
    .register_div_two{
    flex-direction: row;
    gap: 15px;
    position: relative;
    font-size: 10px;
  }
  .ordivisor{
    position: absolute;
    bottom: -10px;
  }

  .register_div_one > h1{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}
.register_div_three{
    height: 360px;
}
}

@media (min-width: 1400px){

  .register_main {
    width: 100%;
    height: 100vh;
    display: flex;
    background: #fff;
    padding: 150px;
    align-items: center;
  }

  .register_izquierdo {
    width: 45%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .register_derecho {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
        height: 100vh;
    flex-direction: column;
        font-family: 'Inter', sans-serif;
        font-size: 21px;
        gap: 5px;
  }
  .register_derecho img {
    width: 420px;
    max-width: 80%;
  }
    .register_div_two{
    flex-direction: row;
    gap: 15px;
    position: relative;
    font-size: 10px;
  }
  .ordivisor{
    position: absolute;
    bottom: 0px;
  }

  .register_div_one > h1{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}

}



@media (max-width: 767px) {
  .register_derecho {
    display: none;
  }
}

.register_main {
  border-radius: 24px;
}
