.success{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.798);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

}

.success_center{
    background-color: white;
    width: 290px;
    height: 290px;
    border-radius: 13px;
    padding-top: 55px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    flex-direction: column;
    color: white;
        position: relative;

}

.success_center > h1{
    color: black;
    font-size: 20px;
}

.success_center > button{
width: 100%;
height: 23px;
background-color: black;
border-radius: 5px;
display: flex;
align-items: center;
justify-content: center;
font-size: 12px;
font-family: 'Inter', sans-serif;
}
.success_center > img{
margin-left: 20px;
margin-bottom: 25px;
}