.main{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_center{
    width: 250px;
    height: 250px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.container_center > span {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.contenedor_central{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}
.contenedor_central > img{
    width: 170px;

}
.divisor_fuera{
    position: relative;
    overflow: hidden;
    width: 113px;
    height: 11px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #D9D9D9;
    
}

.divisor_dentro{
    position: relative;
    left: 0px;
    width: 1500px;
    height: 11px;
    background-color: #201C1D;
    border-radius: 15px;
    transform-origin: left;
    transform: scaleX(0);
    animation: expandirBarra 8s ease-in-out infinite;
}

@keyframes expandirBarra {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}